<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>

<body>
    <h3>Edit Your cotent</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input name="listing[title]" value="<%=listing.title%>" type="text"/><br><br>
        <textarea name="listing[description]"><%=listing.description%></textarea><br><br>
        <!-- <label for="imageUrl"></label> -->
        <input type="text" name="listing[image]" value="<%=listing.image%>" placeholder="image here" required>
        <!-- <input type="text" name="listing[image][filename]" required><br><br> -->
        <input name="listing[price]" value="<%=listing.price%>" type="number" /><br><br>
        <input name="listing[country]" value="<%=listing.country%>"/><br><br>
        <input name="listing[location]" value="<%=listing.location%>" /><br><br>
        <button>EDIT</button>
    </form>
</body>

</html>
</body>

</html>