<% layout("/layouts/boilerplate") %>

  <div class="row">
    <div class="col-8 offset-2">
    <h3 class="mt-3">Listing Detail</h3>
    <div class="card" style="width: 18rem;">
        <img  src="<%= listing.image.url %>" class="show-img" alt="<%= listing.title %>">

        <div class="card-body">
          <p class="card-text"><b><%= listing.title %></b></p>
        </div>
      </div>

    <ul>
        
        <li>Description: <%= listing.description %></li>
        <li>Price: &#8377;<%= listing.price.toLocaleString('en-IN') %></li>
        <li>Location: <%= listing.location %></li>
        <li>Country: <%= listing.country %></li>
    </ul>
    <br>
    <div class="edit-del">
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn">Edit </a><br>
    
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" onsubmit="return confirm('Are you sure you want to delete this listing?');"><br>
        <button type="submit" class="btn btn-dark  del-btn">Delete</button>
    </form>
    </div>
  </div>
  </div>
